.check-box .box {

    -fx-background-color: white;
    -fx-border-color:grey;
    -fx-border-radius:3px;

}

.check-box:selected .mark {

    -fx-background-color: white;

}

.check-box:selected .box {

    -fx-background-color: #ff8484;
}

HBox {
    -fx-padding: 0 0 10 0;
    -fx-border-color: black;
    -fx-border-width: 0 0 1 0;
    -fx-border-style: solid;
}

.headacheNoBorder{
    -fx-border-width: 0 0 0 0;
}

.headacheBorder{
    -fx-padding: 0 0 10 0;
    -fx-border-color: black;
    -fx-border-width: 0 0 1 0;
    -fx-border-style: solid;
}
